body {
text-align: left;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
}
#appBar {
  background: black;
  height: 40px;
}
#heading{
  background: #0FA939;
  color: white;
  padding-top: 0.5px;
  padding-bottom: 40px;
  padding-left: 3px;
  height: 60px;
}
#main{
  width: 1000px;
}
#home{
  font-family: "Candara";
  width: 125px;
  box-shadow: 0 2px #27496d;
  margin-top: 10px;
  margin-left: 730px;
}
#PBTemplates{
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 10px;
  margin-left: 8px;
}
#PCSheets{
    width: 125px;
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 10px;
  margin-left: 8px;
}
#TnD{
    width: 125px;
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 10px;
  margin-left: 8px;
}
h1{
  margin-left: 30px;
  text-align: left;
  font-family: "Candara";
  font-size: 30pt;
  color: "blue";
}

p{
  margin-left: 30px;
  font-family: "Calibri";
  font-size: 12pt;
  text-align: justify;
  padding-left: 0px;
  color: #2f2d2d;
  width: 380px;
}
