body {
  background-color: #e9f9ef;
text-align: justify;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
}
img {
  position:absolute;
  margin-left: 15px;
  height: 50px;
  padding-bottom: 2px;
}
#appBar {
  background: black;
  height: 40px;
}
#heading{
  background: #0FA939;
  color: white;
  padding-top: 0.5px;
  padding-bottom: 40px;
  padding-left: 3px;
  height: 60px;
}
#drink{
  width: 800px;
  height: 800px;
}
#par2{
  background-color:#ffffff;
  margin-top:90px;
  margin-left: 850px;
  width: 400px;
  }
#text2{
  margin-top:0px;
  padding-bottom: 4px;
}
#home{
  font-family: "Candara";
  width: 125px;
  box-shadow: 0 2px #27496d;
  margin-top: 7px;
  margin-left: 600px;
}
#PBTemplates{
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 7px;
  margin-left: 8px;
}
#PCSheets{
  width: 125px;
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 7px;
  margin-left: 8px;
}
#TnD{
  width: 125px;
  font-family: "Candara";
  box-shadow: 0 2px #27496d;
  margin-top: 7px;
  margin-left: 8px;
}
#square{
  background-color:#ffffff;
  margin-top:90px;
  margin-left:20px;
  margin-right: 850px;
  width: 400px;
}
#shadow{
  background-color:#ffffff;
  margin-top:90px;
  margin-left: 850px;
  width: 400px;
}
#tip{
  background-color:#ffffff;
  margin-top:90px;
  margin-left:20px;
  margin-right: 850px;
  width: 400px;
}
#trophy{
  background-color:#ffffff;
  margin-top:90px;
  margin-left: 850px;
  width: 400px;
}
#bull{
  background-color:#ffffff;
  margin-left:20px;
  margin-top:90px;
  margin-right: 850px;
  width: 400px;
}
h1{
  margin-left: 30px;
  text-align: left;
  font-family: "Candara";
  font-size: 30pt;
  color: "blue";
}

h2{
  margin-top: 15px;
  margin-left: 30px;
  padding-top:10px;
  text-align: left;
  font-family: "Candara";
  font-size: 24pt;
  color: "blue";
}
h4{
  margin-top: 15px;
  margin-left: 30px;
  padding-top:10px;
  text-align: left;
  font-family: "Candara";
  font-size: 18pt;
  color: "blue";
}
h5{
  margin-top: 15px;
  margin-left: 30px;
  padding-top:10px;
  text-align: left;
  font-family: "Candara";
  font-size: 13pt;
  color: "blue";
}


p{
  line-height: 190%;
  margin-left: 30px;
  font-family: "Calibri";
  font-size: 12pt;
  text-align: justify;
  padding-left: 0px;
  color: #2f2d2d;
  width: 350px;
}
