body {
background: #096D07;
text-align: center;
}
#main{
  position: relative;
  width: 1000px;
  background: #0FA939;
  margin: 25px auto;
  border: solid 8px #5F4A07
}
h1{
  text-align: center;
  font-family: "Georgia";
  font: 24pt;
  color: "blue";
}
hr {
  color: #ff3819;
  width: 990px;
  height: 8px;
}
p{
  font-family: "Calibri";
  font-size: 12pt;
  text-align: justify;
  padding-left: 30px;
  color: #2f2d2d;
  width: 380px;

}
